# Association rules

In [1]:
import pandas as pd
df = pd.read_excel('Online retail.xlsx',header = None)
df

                                                      0
0     shrimp,almonds,avocado,vegetables mix,green gr...
1                                burgers,meatballs,eggs
2                                               chutney
3                                        turkey,avocado
4     mineral water,milk,energy bar,whole wheat rice...
...                                                 ...
7496                      butter,light mayo,fresh bread
7497  burgers,frozen vegetables,eggs,french fries,ma...
7498                                            chicken
7499                                 escalope,green tea
7500    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7501 rows x 1 columns]

# Data Preprocessing :

In [2]:
df.isnull().sum()

0    0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
dtypes: object(1)
memory usage: 58.7+ KB

In [4]:
# Generate transactions
transactions = []
for i in range(len(df)):
    transactions.append([str(item) for item in df.iloc[i, 0].split(',')])

# Remove unnecessary first transaction (header)
transactions = transactions[1:]

# Display number of transactions
print("Number of transactions:", len(transactions))

Number of transactions: 7500

# Association Rule Mining:

In [7]:
# Apply Apriori algorithm
from apyori import apriori
rules = apriori(transactions=transactions,
                min_support=0.003,
                min_confidence=0.2,
                min_lift=3,
                min_length=2,
                max_length=2)

In [8]:
# Converting rules to list
report = list(rules)

# Displaying number of generated association rules
print("Number of association rules:", len(report))

Number of association rules: 9

In [9]:
report

[RelationRecord(items=frozenset({'light cream', 'chicken'}), support=0.004533333333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.2905982905982906, lift=4.843304843304844)]),
 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]),
 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)]),
 RelationRecord(items=frozenset({'fromage blanc', 'honey'}), support=0.0033333333333333335, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fromage blanc'}), items_add=frozenset({'honey'}), confidence=0.2450980392156863, lift=5.178127589063795)]),
 RelationRecord(items=frozenset({'herb & pepper', 'ground beef'}), support=0.016, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2915549671393096)]),
 RelationRecord(items=frozenset({'ground beef', 'tomato sauce'}), support=0.005333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.37735849056603776, lift=3.840147461662528)]),
 RelationRecord(items=frozenset({'light cream', 'olive oil'}), support=0.0032, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'olive oil'}), confidence=0.20512820512820515, lift=3.120611639881417)]),
 RelationRecord(items=frozenset({'whole wheat pasta', 'olive oil'}), support=0.008, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.130221288078346)]),
 RelationRecord(items=frozenset({'shrimp', 'pasta'}), support=0.005066666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050848, lift=4.514493901473151)])]

In [10]:
# reports accesing 
report[0]#gives first report
report[0][0]#set of required data
report[0][1] # support
report[0][2][0][0] # base item
report[0][2][0][1] # add item
report[0][2][0][2] # confidence


a=[]
b=[]
c=[]
d=[]
e = []

In [11]:
for i in range(0,9):
    a.append(report[i][1]) # support
    b.append(report[i][2][0][0]) # base item
    c.append(report[i][2][0][1]) # add item
    d.append(report[i][2][0][2]) # confidence
    e.append(report[i][2][0][3]) # lift

# Interpret the results and provide insights into customer purchasing behaviour based on the discovered rules

In [12]:
df_new  = pd.concat([pd.DataFrame(a),
          pd.DataFrame(b),
          pd.DataFrame(c),
          pd.DataFrame(d),
          pd.DataFrame(e)],axis=1)

df_new.columns = ['Support','baseitem','add item','confidence','lift']
df_new

    Support              baseitem     add item  confidence      lift
0  0.004533           light cream      chicken    0.290598  4.843305
1  0.005733  mushroom cream sauce     escalope    0.300699  3.790327
2  0.005867                 pasta     escalope    0.372881  4.700185
3  0.003333         fromage blanc        honey    0.245098  5.178128
4  0.016000         herb & pepper  ground beef    0.323450  3.291555
5  0.005333          tomato sauce  ground beef    0.377358  3.840147
6  0.003200           light cream    olive oil    0.205128  3.120612
7  0.008000     whole wheat pasta    olive oil    0.271493  4.130221
8  0.005067                 pasta       shrimp    0.322034  4.514494